﻿
@{
    
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header>
        <h3>Header</h3>
    </header>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
